 <!-- footer section  -->
 <footer>
     <div class="container">
         <div class="our-client">
             <div class="row">
                 <div class="col-md-3">
                    <img src="../../../assets/img/Form 20.png" alt="">
                 </div>
                 <div class="col-md-3">
                    <img src="../../../assets/img/Form 20.png" alt="">
                 </div>
                 <div class="col-md-3">
                    <img src="../../../assets/img/Form 20.png" alt="">  
                 </div>
                 <div class="col-md-3">
                    <img src="../../../assets/img/Form 20.png" alt="">
                 </div>
             </div>
         </div><hr>
     </div>
     
     <div class="container">
        <div class="row">
                <div class="col-md-3">
                    <img src="../../../assets/img/logo-footer.png" alt="">
                </div>
                <div class="col-md-2">
                    <h6 class="mb-4">COMPANY</h6>
                    <a class="footer-link" href="#">About Us</a>
                    <a class="footer-link" href="#">Our Team</a>
                    <a class="footer-link" href="#">Careers</a>
                    <a class="footer-link" href="#">Contact</a>
                </div>
                <div class="col-md-2">
                    <h6 class="mb-4">RESOURSES</h6>
                    <a class="footer-link" href="#">Support</a>
                    <a class="footer-link" href="#">Blog</a>
                    <a class="footer-link" href="#">Press Kit</a>
                    <a class="footer-link" href="#">Live Chat</a>
                </div>
                <div class="col-md-2">
                    <h6 class="mb-4">ABOUT</h6>
                    <a class="footer-link" href="#">Features</a>
                    <a class="footer-link" href="#">How It Works</a>
                    <a class="footer-link" href="#">Plans & Pricing</a>
                    <a class="footer-link" href="#">Login</a>
                </div>
                <div class="col-md-3">
                    <h6 class="mb-4">GET IN TOUCH</h6>
                    <div class="footer-link">
                        <img class="footer-img" src="../../../assets/img/loc.png" alt=""> 157 5th Avenue, 5471 NYC
                    </div>
                    <div class="footer-link">
                        <img class="footer-img" src="../../../assets/img/phone Kopie.png" alt=""> (805) 123-456 789
                    </div>
                    <div class="footer-link">
                        <img class="footer-img" src="../../../assets/img/phone Kopie.png" alt=""> (805) 123-456 789
                    </div>
                    <div class="footer-link">
                        <img class="footer-img" src="../../../assets/img/email.png" alt=""> live-support@email.com
                    </div>
                </div>
        </div> 
        <p class="Copyright">Copyright 2018 &copy; Kl-Webmedia |All Rights Reserved</p>
     </div>
 </footer>
