

 <!--/ Nav Star /  -->
  <nav>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
                <img  style="margin:20px 20px auto;" src="../../../assets/img/logo.png" height="40" alt="logo">
            </div>
            <div class="col-md-7" style="margin-top: 20px;">
                <a  class="nav-links"href="#">HOME </a>
                <a class="nav-links" href="#">PORTFOLIO </a>
                <a class="nav-links" href="#">PAGES </a>
                <a class="nav-links" href="#">PLOGES </a>
                <a class="nav-links" href="#">CONTACT </a>
            </div>
            <div class="col-md-2 ml-auto" style="margin-top: 20px;">
                <img class="text-center" src="../../../assets/img/united-states.png"><span class="nav-icons-en">EN</span>
                <i class="fa fa-search nav-icons" ></i>
                <i class="fa fa-shopping-bag nav-icons" ></i>
                <i class="fa fa-bars nav-icons"></i>
            
          </div>
          </div>
        </div>
      </nav> 
      <!--/ Nav End /-->

      <!-- Home part -->
      <div class="container">
        <div class="header-sec">
          <div class="row">
              <div class="col-md-5 offset-md-1">
                  <div class="header-text center">
                      <h1>Follow the <br>rules and grow</h1>
                      <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te fegit nulla facilisi</p>
                      <button class="btn header-button"> find out how <i class="fa fa-caret-right"></i> </button>
                  </div>
                </div>
              <div class="col-md-5">
                <img src="../../../assets/img/graphics.png" width="500" style="margin-top: 100px;" alt="graphic image ">
              </div>
        </div>     
      </div>
      
      
      <!-- What we do -->
      <div class="what-we-do">
      <div class="row">
          <div class="col-md-5">
              <img src="../../../assets/img/graphic2.png" width="500">
          </div>
          <div class="col-md-5 offset-md-1">
              <div class="do-text">
                <p class="do-first-paragraph">what we do</p>
                <h1> Create a beautiful portfolio gallary</h1>
                <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te fegit nulla facilisi</p>
                <button class="btn header-button"> learn more </button>
              </div>
        </div>   
      </div>
      </div>
      </div>
      
      
        
          <app-services></app-services>
        
      