    <!--  offer section  --> 
    <div class="offer-background">   
  <div class="container">
    <div class="offer-title">
        <p class="offer-subtitle">PLANS AND PRICING </p>
        <h2 class="offer-header">Check our best offers</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="offer-block">
                <p class="offer-block-title">BEGINNER & STARTER</p>
                <strong class="price "> $29</strong>
                <p class="offer-margin-text">Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat</p>
                <ul class="offer-list">
                    <li>
                       <img src="../../../assets/img/check Kopie 4.png" alt="" > Dashboard entrance
                    </li>
                    <li>
                       <img src="../../../assets/img/check Kopie 4.png" alt="" > 1x User Account
                    </li>
                    <li>
                      <img src="../../../assets/img/check Kopie 4.png" alt="" > 1x E-Mail Account 
                    </li>
                    <li>
                       <img src="../../../assets/img/check Kopie 4.png" alt="" > Webhosting
                    </li>
                    <li>
                       <img src="../../../assets/img/check Kopie 4.png" alt="" > Customer Support 
                    </li>
                </ul>
                
                <button class="btn offer-btn">LOAD MORE</button>
            </div>
        </div>
        <div class="col-md-4">
                <div class="offer-block">
                    <p class="offer-block-title">BEGINNER & STARTER</p>
                    <strong class="price "> $49</strong>
                    <p class="offer-margin-text">Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat</p>
                    <ul class="offer-list">
                        <li>
                           <img src="../../../assets/img/check Kopie 4.png" alt="" > Dashboard entrance
                        </li>
                        <li>
                           <img src="../../../assets/img/check Kopie 4.png" alt="" > 1x User Account
                        </li>
                        <li>
                          <img src="../../../assets/img/check Kopie 4.png" alt="" > 1x E-Mail Account 
                        </li>
                        <li>
                           <img src="../../../assets/img/check Kopie 4.png" alt="" > Webhosting
                        </li>
                        <li>
                           <img src="../../../assets/img/check Kopie 4.png" alt="" > Customer Support 
                        </li>
                    </ul>
                    
                    <button class="btn offer-btn" style="background-color: purple;">LOAD MORE</button>
                </div>
            </div>

            <div class="col-md-4">
                    <div class="offer-block">
                        <p class="offer-block-title">BEGINNER & STARTER</p>
                        <strong class="price "> $79</strong>
                        <p class="offer-margin-text">Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat</p>
                        <ul class="offer-list">
                            <li>
                               <img src="../../../assets/img/check Kopie 4.png" alt="" > Dashboard entrance
                            </li>
                            <li>
                               <img src="../../../assets/img/check Kopie 4.png" alt="" > 1x User Account
                            </li>
                            <li>
                              <img src="../../../assets/img/check Kopie 4.png" alt="" > 1x E-Mail Account 
                            </li>
                            <li>
                               <img src="../../../assets/img/check Kopie 4.png" alt="" > Webhosting
                            </li>
                            <li>
                               <img src="../../../assets/img/check Kopie 4.png" alt="" > Customer Support 
                            </li>
                        </ul>
                        
                        <button class="btn offer-btn" style="background-color: tomato;">LOAD MORE</button>
                    </div>
                </div>
    </div>
    </div>
</div>
<app-footer></app-footer>
