
<!-- Call to Action  -->
 <div class="service">
    <div class="container">
        <div class="action-text">
           <p class="call-action-subtitle">CALL TO ACTION</p>
           <h2>Start building your website with a modern CMS</h2>
           <P>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te fegit nulla facilisi</P>
        </div>
        <div class="actions-block">
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <img class="call-action-image" src="../../../assets/img/Form 22.png" alt="">
                <h4>Userfrendly Experence</h4>
                <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te fegit nulla facilisi</p>
            </div>
            <div class="col-md-4 ">
                <img class="call-action-image" src="../../../assets/img/Form 23.png" alt="">
                <h4>Customer Lives Statistics</h4>
                <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te fegit nulla facilisi</p>
            </div>
        </div>
        </div>
    </div>
</div> 
<!--  features and services-->
<div class="container">
    <div class="features-title">
        <p class="features-subtitle">FEATURES AND SERVICES </p>
        <h2 class="features-header">How we satisfy our clients</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="Dashboard-features-image" src="../../../assets/img/Form 15.png" alt="">
            <h5>Dashboard Features</h5>
            <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te</p>
        </div>
        <div class="col-md-4">
            <img class="Userfrendly-experence-image" src="../../../assets/img/Form 5.png" alt="">
            <h5>Userfrendly Experence</h5>
            <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te</p>
        </div>
        <div class="col-md-4">
                <img class="Colour-shemes-image"  src="../../../assets/img/Form 7.png" alt="">
                <h5>Colour Shemes</h5>
                <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt</p>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <img class="Different-layouts-image" src="../../../assets/img/Form 8.png" alt="">
                <h5>Different Layouts</h5>
                <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te </p>
            </div>
            <div class="col-md-4">
                <img class="Vector-based-image" src="../../../assets/img/Form 9.png" alt="">
                <h5>Vector Based Graphics </h5>
                <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te </p>
            </div>
            <div class="col-md-4">
                    <img class="Pixel-perfect-image" src="../../../assets/img/Form 10.png" alt="">
                    <h5>Pixel Perfect Design</h5>
                    <p>Duis autem vel aum iriure dolor in hendrart in vulputate velit esse mugiat nuesent lupt te </p>
            </div>
        </div>
</div>
 <app-portfolio></app-portfolio>  
